<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Coding Dojo Survey</title>
        {% load static %} <!--added this line-->
        <link rel="stylesheet"  href= "{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <div>
            <h1>Fill out the form: </h1>
        </div>
        

    <form action="/process" method='POST'>
        {% csrf_token %}
        Name: <input type="text" name='name'><br>
        Languages: <select name='language'>
            <option value="python">Python</option>
            <option value="c#">C#</option>
            <option value="java">Java</option>
            <option value="javascript">JavaScript</option>
            <option value="c">C</option>
        </select>
        Locations: <select name='location'>
            <option value="burbank">Burbank</option>
            <option value="chicago">Chicago</option>
            <option value="dallas">Dallas</option>
            <option value="seattle">Seattle</option>
            <option value="dc">DC</option>
        </select>
        <input type="submit" value='View User'>
    </form>
    </body>
</html>